USE [QLSV]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 11/15/2024 4:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](100) NULL,
	[Room] [nvarchar](50) NULL,
	[SubjectID] [int] NULL,
	[TeacherID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 11/15/2024 4:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](255) NULL,
	[HeadOfDepartment] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[EstablishedYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/15/2024 4:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/15/2024 4:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [bit] NULL,
	[Age] [int] NULL,
	[Email] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[EnrollmentDate] [date] NULL,
	[Gpa] [int] NULL,
	[TotalCreditsEarned] [int] NULL,
	[Hometown] [nvarchar](100) NULL,
	[PermanentAddress] [nvarchar](255) NULL,
	[Class] [nvarchar](50) NULL,
	[DepartmentID] [int] NULL,
	[ProgramID] [int] NULL,
	[TeacherID] [int] NULL,
	[FullName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 11/15/2024 4:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](255) NULL,
	[Credits] [int] NULL,
	[ProgramID] [int] NULL,
	[DepartmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 11/15/2024 4:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [bit] NULL,
	[Email] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Status] [bit] NULL,
	[DepartmentID] [int] NULL,
	[Username] [nvarchar](100) NULL,
	[Password] [nvarchar](255) NULL,
	[RoleID] [int] NULL,
	[FullName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingProgram]    Script Date: 11/15/2024 4:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingProgram](
	[ProgramID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramName] [nvarchar](255) NULL,
	[DepartmentID] [int] NULL,
	[Duration] [int] NULL,
	[StartYear] [int] NULL,
	[EndYear] [int] NULL,
	[DegreeAwarded] [nvarchar](100) NULL,
	[CreditsRequired] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transcript]    Script Date: 11/15/2024 4:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transcript](
	[TranscriptID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[SubjectID] [int] NULL,
	[MidtermScore] [float] NULL,
	[FinalScore] [float] NULL,
	[TotalScore] [float] NULL,
	[Semester] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TranscriptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([ClassID], [ClassName], [Room], [SubjectID], [TeacherID]) VALUES (1, N'Advanced Mathematics - A', N'Room 101', 1, 1)
INSERT [dbo].[Class] ([ClassID], [ClassName], [Room], [SubjectID], [TeacherID]) VALUES (2, N'Advanced Mathematics - B', N'Room 102', 1, 2)
INSERT [dbo].[Class] ([ClassID], [ClassName], [Room], [SubjectID], [TeacherID]) VALUES (3, N'Data Structures - A', N'Room 201', 2, 3)
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [HeadOfDepartment], [Email], [EstablishedYear]) VALUES (1, N'Công nghệ Thông tin', N'a', N'user1@gmail.com', 2015)
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [HeadOfDepartment], [Email], [EstablishedYear]) VALUES (2, N'Điện tử viễn thông', N'a', N'user2@gmail.com', 2010)
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [HeadOfDepartment], [Email], [EstablishedYear]) VALUES (3, N'Giáo dục', N'a', N'user3@gmail.com', 2024)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [NameRole], [Description]) VALUES (1, N'TEACHER', N'Giáo viên dạy chính thức')
INSERT [dbo].[Role] ([RoleID], [NameRole], [Description]) VALUES (2, N'INTERN TEACHER', N'Giáo viên thực tập có thời hạn')
INSERT [dbo].[Role] ([RoleID], [NameRole], [Description]) VALUES (3, N'HEAD OF DEPARTMENT', N'Giáo viên và đồng thời là trưởng khoa của 1 ngành')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [Gender], [Age], [Email], [PhoneNumber], [EnrollmentDate], [Gpa], [TotalCreditsEarned], [Hometown], [PermanentAddress], [Class], [DepartmentID], [ProgramID], [TeacherID], [FullName]) VALUES (1, 0, 19, N'student1@gmail.com', N'096.36113e+008', CAST(N'2021-12-17' AS Date), 2, 133, N'Hà Nội', N'Ð?a ch? 1', N'DCT0', 3, 2, 1, N'Student 1')
INSERT [dbo].[Student] ([StudentID], [Gender], [Age], [Email], [PhoneNumber], [EnrollmentDate], [Gpa], [TotalCreditsEarned], [Hometown], [PermanentAddress], [Class], [DepartmentID], [ProgramID], [TeacherID], [FullName]) VALUES (2, 0, 21, N'student2@gmail.com', N'097.31543e+008', CAST(N'2022-08-19' AS Date), 3, 146, N'Hồ Chí Minh', N'Ð?a ch? 2', N'DCT25', 4, 5, 5, N'Student 2')
INSERT [dbo].[Student] ([StudentID], [Gender], [Age], [Email], [PhoneNumber], [EnrollmentDate], [Gpa], [TotalCreditsEarned], [Hometown], [PermanentAddress], [Class], [DepartmentID], [ProgramID], [TeacherID], [FullName]) VALUES (3, 0, 21, N'student3@gmail.com', N'097.66343e+008', CAST(N'2024-02-16' AS Date), 3, 113, N'Hồ Chí Minh', N'Ð?a ch? 3', N'DCT53', 7, 8, 6, N'Student 3')
GO
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([SubjectID], [SubjectName], [Credits], [ProgramID], [DepartmentID]) VALUES (1, N'Advanced Mathematics', 4, 1, 1)
INSERT [dbo].[Subject] ([SubjectID], [SubjectName], [Credits], [ProgramID], [DepartmentID]) VALUES (2, N'Data Structures', 3, 1, 2)
INSERT [dbo].[Subject] ([SubjectID], [SubjectName], [Credits], [ProgramID], [DepartmentID]) VALUES (3, N'Algorithms', 4, 1, 2)
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([TeacherID], [Gender], [Email], [PhoneNumber], [Status], [DepartmentID], [Username], [Password], [RoleID], [FullName]) VALUES (1, 0, N'ThuyLoan@gmail.com', N'0703212345', 1, 3, N'thuyloansgu', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 4, N'Nguyễn Thúy Loan')
INSERT [dbo].[Teacher] ([TeacherID], [Gender], [Email], [PhoneNumber], [Status], [DepartmentID], [Username], [Password], [RoleID], [FullName]) VALUES (2, 1, N'HoangDung@gmail.com', N'1234567890', 1, 4, N'hoangdungsgu', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 3, N'Nguyễn Hoàng Dũng')
INSERT [dbo].[Teacher] ([TeacherID], [Gender], [Email], [PhoneNumber], [Status], [DepartmentID], [Username], [Password], [RoleID], [FullName]) VALUES (3, 1, N'VanPhong@gmail.com', N'1234567890', 1, 4, N'vanphongsgu', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 3, N'Nguyễn Văn Phong')
SET IDENTITY_INSERT [dbo].[Teacher] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingProgram] ON 

INSERT [dbo].[TrainingProgram] ([ProgramID], [ProgramName], [DepartmentID], [Duration], [StartYear], [EndYear], [DegreeAwarded], [CreditsRequired]) VALUES (1, N'CÔNG NGHỆ THÔNG TIN', 1, 5, 2020, 2025, N'KỸ SƯ', 150)
INSERT [dbo].[TrainingProgram] ([ProgramID], [ProgramName], [DepartmentID], [Duration], [StartYear], [EndYear], [DegreeAwarded], [CreditsRequired]) VALUES (2, N'CÔNG NGHỆ THÔNG TIN', 1, 5, 2024, 2029, N'KỸ SƯ', 150)
INSERT [dbo].[TrainingProgram] ([ProgramID], [ProgramName], [DepartmentID], [Duration], [StartYear], [EndYear], [DegreeAwarded], [CreditsRequired]) VALUES (3, N'CÔNG NGHỆ THÔNG TIN CLC', 1, 5, 2019, 2024, N'KỸ SƯ', 150)
SET IDENTITY_INSERT [dbo].[TrainingProgram] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Teacher__536C85E453EF1DF1]    Script Date: 11/15/2024 4:33:33 PM ******/
ALTER TABLE [dbo].[Teacher] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([ProgramID])
REFERENCES [dbo].[TrainingProgram] ([ProgramID])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD FOREIGN KEY([ProgramID])
REFERENCES [dbo].[TrainingProgram] ([ProgramID])
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[TrainingProgram]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Transcript]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Transcript]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
